# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/.idea/
frontend/*.iml

# Android
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/

# iOS
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/ephemeral/
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/flutter_export_environment.sh

# Python
backend/.venv/
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# Environment variables / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store